* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

*,*:after,*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    font-family: Arial, sans-serif;
    overflow: hidden;
}

ul,ol,li {
    list-style: none;
}

a {
    text-decoration: none;
}




p {
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

button {
    margin: 50px auto 0;
    width: 200px;
    height: 50px;
    font-size: 20px;
    display: block;
    visibility: hidden;
}